---
layout: base.njk
title: About
---

<header class="category-header">
  <a href="/" class="back-link">← Back</a>
  <h1>About</h1>
</header>

<div class="essay-content">
  <p>I'm not sure what I should put here. I want to see the world clearly. I want to live in a way that positively impacts others. I don't know the best way to achieve that goal yet. I think it has something to do with living authentically. And in seeing people's divinity. There are so many distractions in our modern world. I hope to live a life I can be proud of. Even if it isn't memorable. I want to continually grow. I guess this website is a testament to my own existence. I lived. I enjoyed things. I had ideas. I tried my best.</p>
  <p>I considered removing the About section from this website. In many ways, the entire site is about me. It's about how I perceive the world and my place in it. However, it is also a public space that anyone can spend time in if they so choose. I hope you feel welcome. I appreciate you visiting. I will try to make it nice.</p>
  <h3>2026 Goals</h3>
  <p>My focus for 2026 is getting two main projects over the finish line:</p>
  <p>The first is an AI chess tutor that I named Hsichess.com. Hsichess was my priority for the first half of 2026. It is mostly in a good state. It certainly has enough built out to determine signal from consumers. If it never has real users then it will have been a good project nonetheless. I'm trying to figure out how to market it in the meantime.</p>
  <p>For the latter half of 2026, my focus is finishing a book I've titled Nora. It's my first time writing a book so I'm sure there are unknown hurdles lurking in the shadows, but I also know that due to Parkinson's Law I can definitely finish it before 2027. I'm sure the first time will fill me with the most fear. Trying to get over it.</p>
</div>
