---
layout: base.njk
title: Inspiration
---

<header class="category-header">
  <a href="/" class="back-link">← Back</a>
  <h1>Inspirations</h1>
</header>

<div class="essay-content">
  <p>WIP.</p>
</div>
